@tailwind base;
@tailwind components;
@tailwind utilities;
#signIn {
  z-index: 1;
  overflow: visible;
}
#signIn::after {
  top: 100%;
  left: 50%;
  position: absolute;
  content: '';
  border-radius: 100%;
  width: 100%;
  height: 1px;
  top: 100%;
  aspect-ratio: 1;
  transform: translate(0%, 0%);
  background-color: white;
  z-index: -1;
}

#signIn:hover::after {
  animation: signIn 0.75s ease-in forwards;
}

.dugme {
  z-index: 1;
  overflow: visible;
}
.dugme::after {
  z-index: -1;
}

.dugme:hover::after {
  animation: signIn 0.75s ease-in forwards;
}
.dugme:hover {
  animation: buttonON 0.2s 0.4s ease forwards;
}
@keyframes signIn {
  20% {
    width: 1.5em;
  }
  30%,
  40% {
    top: 100%;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
  }
  50%,
  75% {
    transform: translate(-50%, -50%);
    top: 50%;
    aspect-ratio: 1;
    border-radius: 100%;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);

    width: 10em;
    height: 10em;
    border-radius: 100%;
  }
}

#signIn:hover {
  animation: buttonN 0.2s 0.4s ease forwards;
}
@keyframes buttonON {
  50% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
    color: white;
  }
}

@keyframes buttonN {
  50% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
    color: white;
  }
}
.save:hover::after {
  animation: save 0.5s ease forwards;
}
@keyframes save {
  0% {
    top: -2em;
    width: 1em;
  }

  50% {
    width: 1em;

    top: 50%;
  }
  100% {
    top: 50%;

    width: 150%;
  }
}

.save:hover {
  animation: saveON 0.5s 0.2s forwards;
}

@keyframes saveON {
  40% {
    color: white;
  }
  50% {
    overflow: hidden;
  }
  100% {
    overflow: hidden;
    color: #111827 !important;
  }
}
